body {
    background-image:url(images/Itachi.jpg) ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
    background-attachment: fixed;
}
body {
    font-style: italic;
    font-family: Mojo, fantasy;
    line-height: 6.5em;
    text-shadow: -.2em .1em silver;
    font-size: larger;
}

header {
    color: #800080;
    text-align: center;
    text-shadow: -.6em .3em black;
}

nav ul {
    list-style-type: none;
    text-shadow: -.1em .1em pink;
}

nav ul li {
    display: inline;
    margin-right: 6em;
}

section {
    margin: 6em;
}
