body {
    background-image:url(images/AOT.jpg) ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center center;
    background-attachment: fixed;
}
body {
    font-family: Mojo, fantasy;
    line-height: 4 ; 
    text-shadow: -.6em .5em .7em purple;

}
header {
    color: whitesmoke;
    text-align: center;
    text-shadow: -.6em .5em .3em blue;
    margin: 2em;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 4em;
}

section {
    margin: 16em ;
    margin-bottom: em;
}
