body {
    background-image:url(images/Dororo.jpg) ;
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}
body {
    font-family: Alex_Brush;
    font-weight: bolder;
    font-style: oblique;
    line-height: 2.5;
    text-shadow: -.1em .3em .3em white;
    font-size: larger;
    
}

header {
    color: whitesmoke;
    text-align: left;
    padding: 2em;
    text-shadow: -.2em .3em  black;
}

nav ul {
    list-style-type: none;
    font-family: mojo, fantasy;
    margin: 4em;
}

nav ul li {
    display: inline;
    margin-right: 2.4em;
    text-shadow: -.1em .2em  purple;

}

section {
    margin: 5em;
}
